{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmar Exclusão</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
</head>
<body>
    <div class="container mt-4">
        <h1>Tem certeza de que deseja excluir o personagem?</h1>
        <p>Você está prestes a excluir o personagem: <strong>{{ character.name }}</strong>.</p>
        <form method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Confirmar Exclusão</button>
        </form>
        <a href="{% url 'character-list' %}" class="btn btn-secondary mt-3">Cancelar</a>
    </div>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>