{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if form.instance.pk %}Editar{% else %}Criar{% endif %} Personagem</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
</head>
<body>
    <div class="container mt-5">
        <div class="card p-4">
            <h1 class="mb-4">{% if form.instance.pk %}Editar{% else %}Criar{% endif %} Personagem</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="mt-4">
                    <button type="submit" class="btn btn-primary btn-lg me-2">Salvar</button>
                    <a href="{% url 'character-list' %}" class="btn btn-secondary btn-lg">Voltar</a>
                </div>
            </form>
        </div>
    </div>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>