{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rick and Morty - Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Rick and Morty</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'character-list' %}">Personagens</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-5">
        <div class="jumbotron">
            <h1 class="display-4">Bem-vindo ao Mundo de Rick and Morty!</h1>
            <p class="lead">Explore os personagens e aventuras do universo de Rick and Morty.</p>
            <hr class="my-4">
            <p>Descubra informações detalhadas sobre seus personagens favoritos e muito mais.</p>
            <a class="btn btn-primary btn-lg" href="{% url 'about' %}" role="button">Saiba mais</a>
        </div>
    </div>
    <footer class="footer bg-light text-center py-3">
        <p>© 2025 Rick and Morty</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>